:root {
  --border-color: #291d4d;
  --dialog-background: #e6e6e6;
  --menu-background: #e6e6e6;
  --menu-border-color: #e6e6e6;
  --menu-font-color: #252525;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
}

.game-container {
  position: relative;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  outline: 1px solid #fff;
  transform: scale(2) translateY(30%);
}

.game-container canvas {
  image-rendering: pixelated;
}
